# Entorno
.env

# Go
bin/
*.exe

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Cookies / pruebas
cookies.txt

# Archivos grandes
*.tar.gz
# Build Go
*.out

# Docker
*.env.local

# Coverage (tests)
coverage.out
#tailwind
node_modules/
static/css/output.css

#No redundante
cookies.txt
*.tar.gz
*.tgz
node_modules/